# dependencies
node_modules/

# next.js
.next/
out/
dist/

# IDE
.idea/
.cursor/

# misc
.DS_Store
*.pem
.env
.env*.local
.env.vercel.deploy.tmp
.easysubmit-mode
public/avatars/*.webp

# debug
npm-debug.log*

# typescript
*.tsbuildinfo

/lib/generated/prisma
.vercel
coverage
